@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daut.molahasanov@gmail.com">daut.molahasanov@gmail.com</a>
</address>